@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #264653;
    font-family: 'Roboto', sans-serif;
}

body {
   display: flex;
   height: 100vh;
   width: 100vw;
   flex-direction: column;
   padding: 32px;
}

#content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   flex: 1 1 0;
}

#grid-control-panel {
   flex: 1 0 20%;
   height: 100%;
   width: 100%;
}

/* Adding a border to this div potentially makes it too small to fit the desired
   number of items in each row. Be mindful of this when using borders for
   troubleshooting */
#square-divs-container {
   display: flex;
   flex-wrap: wrap;
   flex: 1 1 80%;
   align-items: flex-start;
   align-content: center;
}

.individual-square-div {
   border: 1px solid black;
   flex: 0 1 0;
   aspect-ratio: 1;
   transition: background-color 0.3s ease;
   background-color: #8a2be2;
}

.hovering {
   background-color: #75D41D;
   transition: background-color 0.3s ease;
}

/* 
   TROUBLESHOOTING
*/